
@{
    ViewBag.Title = "Giới Thiệu Về VANDAOPC";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h3 class="text-danger text-center" style="font-size: 3em; text-transform: uppercase;">Giới Thiệu Về VANDAOPC</h3>
<div class="container-fluid mt-3">
    <div class="mb-3" style="max-width: auto;">
        <div class="row g-0">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card-body">
                    <p class="card-text mb-3" style="font-size:1.3em; text-align: justify">
                        Chào mừng đến với VANDAOPC - Trang Web Mua Sắm Trực Tuyến Chất Lượng Cho Máy Tính và Linh Kiện Máy Tính!
                        <br /><br />
                        VANDAOPC tự hào là địa chỉ tin cậy cho cộng đồng đam mê công nghệ, nơi mà bạn có thể khám phá và mua sắm những sản phẩm máy tính và linh kiện máy tính hàng đầu. Chúng tôi cam kết mang đến trải nghiệm mua sắm trực tuyến tuyệt vời nhất, với sự đa dạng, chất lượng và dịch vụ xuất sắc.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/Images/about_banner_0.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div class="card mt-1" style="width: 16rem;">
            <img src="~/Images/about_banner_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Sản Phẩm Chất Lượng
                </h5>
                <p class="card-text" style="text-align: justify">
                    VANDAOPC cung cấp một bộ sưu tập đa dạng của các sản phẩm chất lượng từ các thương hiệu hàng đầu trong ngành công nghiệp máy tính. Tại đây, bạn sẽ tìm thấy máy tính để bàn, linh kiện máy tính, card đồ họa, bàn phím, chuột và nhiều sản phẩm khác, đảm bảo đáp ứng mọi nhu cầu của bạn.
                </p>
            </div>
        </div>
        <div class="card mt-1" style="width: 16rem;">
            <img src="~/Images/about_banner_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Ưu Đãi Hấp Dẫn
                </h5>
                <p class="card-text" style="text-align: justify">
                    Chúng tôi liên tục cập nhật các ưu đãi và khuyến mãi hấp dẫn để đảm bảo bạn có cơ hội sở hữu những sản phẩm công nghệ mới nhất với giá trị tốt nhất. Đồng thời, chính sách bảo hành và hỗ trợ kỹ thuật của chúng tôi giúp bạn yên tâm hơn khi chọn lựa.
                </p>
            </div>
        </div>
        <div class="card mt-1" style="width: 16rem;">
            <img src="~/Images/about_banner_3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Dịch Vụ Chăm Sóc Khách Hàng
                </h5>
                <p class="card-text" style="text-align: justify">
                    Chăm sóc khách hàng là ưu tiên hàng đầu tại VANDAOPC. Đội ngũ hỗ trợ chuyên nghiệp của chúng tôi sẽ luôn sẵn sàng giải đáp mọi thắc mắc và hỗ trợ bạn trong quá trình mua sắm và sau bán hàng.
                </p>
            </div>
        </div>
        <div class="card mt-1" style="width: 16rem;">
            <img src="~/Images/about_banner_4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Mua Sắm An Toàn và Thuận Tiện
                </h5>
                <p class="card-text" style="text-align: justify">
                    Chúng tôi đảm bảo một trải nghiệm mua sắm trực tuyến an toàn và thuận tiện. Hệ thống thanh toán bảo mật cao và giao hàng nhanh chóng sẽ đưa sản phẩm đến tay bạn một cách nhanh nhất.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3">
        <h3 class="text-danger text-center" style="font-size: 2em; text-transform: uppercase;">Giới Thiệu Sinh Viên</h3>
        <div class="card mb-3 mt-3" style="max-width: auto;">
            <div class="row g-0 justify-content-center">
                <div class="col-md-2 d-flex align-items-center mx-3">
                    <img src="~/Images/about_my_avt.jpg" class="img-fluid rounded" alt="...">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <p class="card-text fs-5">Họ Tên SV: Trần Văn Đảo</p>
                        <p class="card-text fs-5">MSSV: 2001210818</p>
                        <p class="card-text fs-5">Lớp: 12DHTH05</p>
                        <p class="card-text fs-5">Ngành: Công Nghệ Thông Tin</p>
                        <p class="card-text fs-5">Chuyên Ngành: Công Nghệ Phần Mềm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
